{% load static %}

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<link rel="stylesheet" href="{% static 'css/docente.css' %}">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<h3 class="tituloPrincipal">GESTIONAR DOCENTES</h3>
        <div class="bloque">
            <div class="izquierda">
                <div class="container">
                    <h3 class="tituloIzq">FORMULARIO</h3>
                    {% csrf_token %}
                    <div class="row">
                        <form class="row g-3" method="POST" id="formCrearDocente" action="{% url 'crearDocente' %}">
                            {% csrf_token %} 
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Datos Personales.
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <div class="form-group">
                                        <label for="inputState" class="form-label">Tipo de Documento</label>
                                        <select name="tipoDocumento" class="form-select">
                                          {% for tipo in tiposDocs %}
                                          <option selected>{{ tipo }}</option>
                                          {% endfor %}
                                        </select>
                
                                        <label for="inputAddress" class="form-label">Identificacion</label>
                                        <input type="number" class="form-control" name="id" placeholder="Número de Identificacion">
                                        <label for="inputAddress2" class="form-label">Nombres</label>
                                        <input type="text" class="form-control" name="nombres" placeholder="...">
                                        <label for="inputAddress2" class="form-label">Apellidos</label>
                                        <input type="text" class="form-control" name="apellidos" placeholder="...">
                                        <label for="inputCity" class="form-label">Edad</label>
                                        <input type="number" class="form-control" name="edad">
                                        <label for="inputState" class="form-label">Género</label>
                                        <select name="genero"  class="form-select">
                                          <option selected>Femenino</option>
                                          <option selected>Masculino</option>
                                        </select>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                      Contacto y Residencia.
                                    </button>
                                  </h2>
                                  <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <div class="form-group">
                                        <label for="inputCity" class="form-label">Teléfono</label>
                                        <input type="text" class="form-control" name="telefono">
                                        <label for="inputState" class="form-label">Ciudad</label>
                                        <select name="ciudad" class="form-select">
                                          {% for ciudad in ciudades %}
                                          <option>{{ ciudad.nombre }}</option>
                                          {% endfor %}
                                        </select>
                                        <label for="inputCity" class="form-label">Dirección</label>
                                        <input type="text" class="form-control" name="direccion">
                                      </div>
                                
                                    </div>
                                  </div>
                                </div>
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                      Datos de Acceso.
                                    </button>
                                  </h2>
                                  <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <div class="form-group">
                                        <label for="inputEmail4" class="form-label">Email</label>
                                        <input type="text" class="form-control" name="correo">
                                        <label for="inputPassword4" class="form-label">Nombre de Usuario</label>
                                        <input type="text" class="form-control" name="username">
                                        <label for="inputPassword4" class="form-label">Password</label>
                                        <input type="password" class="form-control" name="password">
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>

                              <div>
                                <button type="submit" class="btn btn-light crear">Enviar Información</button>
                              </div>
                          </form>
                    </div>
                </div>      
            </div>

            <div class="derecha">
                <h3 class="tituloIzq">BUSCAR DOCENTE</h3>
                <div class="buscador">
                  <form method="GET" action="{% url 'listaDocente' %}" id="buscarForm">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" name="nombre" id="input_nombre_docente" placeholder="Buscar Docente" aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-info" type="submit" value="buscar" id="botoncito"><i class="fas fa-search" style="color: white;"></i></button>
                      </div>
                    </div>
                  </form>
                </div>

                
            </div>
          </div>

    <script src="{% static 'js/crearDocente.js' %}"></script>
  
