{% load static %}
<link rel="stylesheet" href="{% static 'css/periodo.css' %}" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  
<!-- Acordeon -->
<div class="paginita">
    <div class="seccion1">
        <p>
            <a class="btn btn-primary add" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-plus-square" style="color: white;"></i>
            </a>
        </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{form_periodo}}
                <button type="submit" class="btn btn-success registrar"> registrar </button>
            </div>
          </div>
    </div>
    <div class="seccion2">
        <div class="titulo">
            <h2>PERIODOS</h2>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            {% if periodos.count == 0 %}
                <p>no hay periodos registrados actualmente</p>
            {% endif %}
            {% for periodoActual in periodos %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    {{periodoActual.Fecha_inicio}}  -  {{periodoActual.Fecha_final}}
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <p>Programas registrados en este periodo:</p>
                    <div class="accordion-body">
                      {% for programa in programas %}
                            {% if programa.periodo == periodoActual %}
                                <div class="cardio card card-1">
                                    <div class="nombre"><p>{{programa.nom_programa}}</p></div>
                                    <div class="contenido"><p>{{programa.contenido_Aca}}</p></div>
                                </div>
                                
                            {% endif %}
                      {% endfor %}
                  </div>
                </div>
              
            {% endfor %}
          </div>
    </div>
</div>