{% load static %}
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- BS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Have fun using Bootstrap JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/periodo.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<!-- Acordeon -->
<div class="paginita">
    <div class="seccion1">
        <button onclick="abrirModal('{% url 'crearPeriodo' %}');" class="btn add" style="color: white;" >Agregar Periodo <i class="fas fa-plus-square" style="color: white;"></i></button>
    </div>
    <div class="seccion2">

        <div class="titulo">
            <h2>PROGRAMAS POR ASIGNAR A UN PERIODO</h2>
        </div>
    </div>
            <div class="programas">
                <div class="example-parent">   <!-- el area general -->

                  <div class="example-origin" ondragover="onDragOver(event);" ondrop="onDrop(event);"> <!-- el panel de origen -->

                    <!-- aqui dentro se pueden objetos de clase example-draggable que son los programas -->
                    {% for programa in programasSinMatricular %}
                    <div id="{{programa.cod_programa}}"class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
                      <h2 style="margin-right: 20px;">{{programa.nom_programa}}</h2>
                    </div>
                    {% endfor %}
                  </div>
                  

                  <div class="contenedor-periodos"> <!--  un panel que cree -->
                    <div class="titulo-periodo"><h2>PERIODO ACTUAL : {{periodoActual.Fecha_inicio}} - {{periodoActual.Fecha_final}}</h2></div>
                    <!-- este que sigue, es el destino de los objetos arrastrables -->
                    <div class="example-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                        <!-- aqui se llenara con los programas a agregar-->
                        {% for programa in programasMatriculados %}
                          <div id="{{programa.cod_programa}}"class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
                            <h2 style="margin-right: 20px;">{{programa.nom_programa}}</h2>
                          </div>
                        {% endfor %}
                    </div>
                    <a class="btn btn-light botoncito d-grid gap-2 col-2 mx-auto" href="{% url 'asignarProgramas' %}"> <span class="spinner-border spinner-border-sm mr-2" style="display: none;"></span> Registrar</a>
                  </div>
                  
          
                </div>
        </div>
    
    <div class="modal fade" id="creacion" role="dialog"></div>
</div>

<script src="{% static 'js/periodo.js' %}"></script>