
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/aerografia.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenido_header">
        <div class="barraImg">
            <h1 class="tituloPrincipal">Programa de Aerografía</h1>
        </div>
    </div>

    <div class="contenido_info">
        <div class="bloqueIzq">
            <h3 class="subtitulo1">PROGRAMA BÁSICO</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>El curso de aerografía básica es 30% teórico y 70%
                práctico. En este curso, la persona queda bien capacitada 
                para manejar sus equipos (aerógrafo y compresor) por medio 
                de numerosos y variados ejercicios que dotarán al alumno
                de conocimientos generales suficientes para abordar
                cualquier tipo de trabajo o encargo con éxito.
            </p>
            <div class="basico">
                <h4 class="te">Edad: de 12 años en adelante</h4>
                <h4 class="te">Duración: 70 horas.</h4>
            </div>
            <br><br><br>
            <h3 class="subtitulo1">PROGRAMA AVANZADO</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>El curso de aerografía avanzada es 30% teórico y 70%
                práctico. Aprenderemos técnicas mixtas necesarias para 
                complemetar la técnica de aerografía. Desarrollaremos
                trabajos de ilustración, cascos de moto (custom), 
                decoración de camisetas (textil), decoración de tortas
                (repostería), pintura mural, maquillaje, body paint y
                mucho más.
            </p>
            <div class="avanzado">
                <h4 class="te">Edad: de 12 años en adelante</h4>
                <h4 class="te">Duración: 70 horas.</h4>
            </div>
            <br><br>
            
        </div>

        <div class="derecha">
            <h1>imagen</h1>
            
        </div>
    </div>
    {% endblock %}
</body>
</html>