
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/aerografia.css' %}" />
    {% endblock %}
</head>
    {% block content %}
    <div class="contenido">
        <h1>aerografia</h1>
    </div>
    {% endblock %}
</html>