
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/artesPlasticas.css' %}" />
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenido">
        <div class="barraImg">
            <h1 class="titulo_principal">Artes Plásticas</h1>
        </div>
        <div class="bloqueIzq">
            <h3 class="subtitulo1">PROGRAMA JUVENIL</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>La escuela de Artes Plásticas forma al aspirante de manera integral 
                y perfecciona sus talentos en la apropiación de conocimientos,
                técnicas, habilidades y destrezas, propios del qué hacer
                artístico-estético; a través de un programa acádemico teórico-práctico.
            </p>
            <div class="juvenil">
                <h4 class="te">Edad: de 14 años en adelante</h4>
                <h4 class="te">Duración: 4 semestres (2 años)</h4>
            </div>
            <br>
            
        </div>
    </div>
    {% endblock %}   
</body>
</html>