
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/elements_nav/artesPlasticas.css' %}" />
    <title>Artes Plásticas</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenido_header">
        <div class="barraImg">
            <h1 class="titulo_principal">Artes Plásticas</h1>
        </div>
    </div>

    <div class="contenido_info">
        <div class="bloqueIzq">
            <h3 class="subtitulo1">PROGRAMA JUVENIL</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>La escuela de Artes Plásticas forma al aspirante de manera integral 
                y perfecciona sus talentos en la apropiación de conocimientos,
                técnicas, habilidades y destrezas, propios del qué hacer
                artístico-estético; a través de un programa acádemico teórico-práctico.
            </p>
            <div class="juvenil">
                <h4 class="te">Edad: de 14 años en adelante</h4>
                <h4 class="te">Duración: 4 semestres (2 años)</h4>
            </div>
            <br><br><br>    
            <center><a href="{% url 'crearinscripcion' %}"><button class="btn-hover color-3">¡REGISTRATE!</button></a></center>
            <br>      
        </div>

        <div class="derecha">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://i.ibb.co/XXNTgPW/Whats-App-Image-2021-04-05-at-11-42-02-AM-2.jpg"  alt="...">
                      </div>
                  <div class="carousel-item">
                    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/86381865_2661570900565116_8983515160098373632_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=ZZ4OgSUGfQAAX9KSZ2l&_nc_ht=scontent-bog1-1.xx&oh=a2c7e3325a6081681fdf6b82566af53c&oe=60837784"  alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/85137027_2661571230565083_2158280006076203008_o.jpg?_nc_cat=109&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=U6gbZEVqjtEAX_udsex&_nc_ht=scontent-bog1-1.xx&oh=376e4dc4defdeecb1a187f1cc08e8eaa&oe=60852BE3"  alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/84300360_2661571630565043_6220911888012673024_o.jpg?_nc_cat=100&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=PhNqtVCWSSUAX-uzy05&_nc_ht=scontent-bog1-1.xx&oh=bc2aafd5295cec59acaff4e8e0e4c139&oe=60847A95"  alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/86280813_2661570840565122_6776717622898589696_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=I8RtMl26rDUAX8Rz3Ij&_nc_ht=scontent-bog1-1.xx&oh=80d6f7cee4abfa1f5173046a9d303267&oe=6083E86E" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.0-9/86357947_2661570780565128_6227772866339799040_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=oA90qMyeRygAX-oeK8p&_nc_ht=scontent-bog1-1.xx&oh=49fddf6f016582c6acfca5f5244b578f&oe=60835BBE" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            
        </div>
    </div>
    {% endblock %}   
</body>
</html>