
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/fotografia.css' %}" />
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenido">
        <div class="barraImg">
            <h1 class="tituloPrincipal">Programa de Fotografía</h1>
        </div>
        <div class="bloqueIzq">
            <h3 class="subtitulo1">PROGRAMA BÁSICO</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>El curso de Fotografía básica digital es un curso 40%
                teórico y 60% practico, en este curso la persona
                queda bien capacitada para manejar su cámara y 
                tomar fotografías ya sean de tipo personal, artística
                eventos sociales, etc. </p>
        </div>
    </div>
    {% endblock %}
</body>
</html>