
{% extends "base.html" %}  {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/musica.css' %}" />
    <title>Música</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenido">
        <div class="barraImg">
            <h1 class="titulo_principal">Programa de Música</h1>
        </div>
        <div class="izquierda">
            <h3 class="subtitulo1">PRE-JUVENIL</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>De acuerdo con la edad, nivel de madurez y acercamientos
                previos a la música, el ciclo pre-juvenil da pie a la 
                profundización musical e instrumental; es decir, un nivel
                avanzado en el aprendizaje del instrumento escogido, teniendo
                como eje principal la gramática musical, el trabajo en equipo
                y las audiciones musicales. Para el desarrollo teórico se 
                usará nuestra cartilla de aprendizaje la cual brindará 3 asignaturas
                teóricas en su contenido (Lenguaje musical, práctica ritmica y
                entrenamiento auditivo).
            </p>
            <div class="prejuvenil">
                <h4 class="te">Edad: de 8 a 13 años</h4>
                <h4 class="te">Duración: 2 semestres (1 año)</h4>
            </div>
            <br><br><br>
            <h3 class="subtitulo1">JUVENIL</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>El objetivo es formar de manera integral en las diferentes areas
                de la música, a jóvenes y adultos, a través de procesos teórico
                practicos que conllevan al desarrollo no sólo artístico, si no 
                personal del estudiante, teniendo como eje principal el trabajo
                en equipo, el desarrollo instrumental y musical, montaje y 
                proyección en un espacio escénicos, respetando sus creencias
                religiosas, musicales y personales.
            </p>
            <div class="juvenil">
                <h4 class="te">Edad: de 14 años en adelante</h4>
                <h4 class="te">Duración: 4 semestres (2 años)</h4>
            </div>
            <br><br>
            

        </div>
        <div class="derecha">
            
            
        </div>
    </div>
    {% endblock %}
</body>

</html>