
{% extends "base.html" %} {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- estilos -->
    <link rel="stylesheet" href="{% static 'css/elements_nav/tallerInfantil.css' %}" />
    {% endblock %}
</head>
    {% block content %}
    <div class="contenido">
        <div class="barraImg">
            <h1 class="tituloPrincipal">Talleres infantiles</h1>
        </div>
        <div class="bloqueIzq">
            <h3 class="subtitulo1">PROGRAMA DE ARTES PLÁSTICAS</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>Fomentar y estimular la creatividad de los niños mediante
                actividades artísticas, brindandoles un espacio totalmente
                ambientado para que disfruten la experiencia maravillosa
                del mundo del arte a través de la práctica de la pintura,
                el dibujo espontáneo, el origami y la plastilina.
            </p>
            <div class="artes">
                <h4 class="te">Edad: de 6 a 12 años</h4>
                <h4 class="te">Duración: 4 semestres (2 años)</h4>
            </div>
            <br><br>
            <h3 class="subtitulo1">PROGRAMA DE MÚSICA</h3>
            <h4 class="subtitulo">Objetivo</h4>
            <p>Potenciar las sensibilidades y habilidades artísticas y creativas
                de niños y niñas, mediante un proceso de formación instrumental
                y teórico, que incluye flauta, canto, percusión y juegos
                lúdicos.
                Durante el proceso de formación, el estudiante vive la experiencia
                artística desde la creación, improvisación y trabajo en equipo;
                realiza un montaje y lo proyecta en un espacio escénico, desarrollando
                así, un perfil instrumental en cada estudiante.
            </p>
            <div class="musica">
                <h4 class="te">Edad: de 4 a 7 años</h4>
                <h4 class="te">Duración: 4 semestres (2 años)</h4>
            </div>
            <br>
        </div>
    </div>
    {% endblock %}
</html>