<body>

    <div class="contenedor">

        <!-- cursos -->
        <div class="wrapper">

            <div class="header">
              <h1 class="header__title">Programas de {{estudiante.nombres}}</h1>
            </div>
          
            <div class="cards">
                
                {% for inscripcionEstudiante in inscripcionesEstudiante %}
                    <div class=" card [ is-collapsed ] ">
                        <div class="card__inner [ js-expander ]">
                            <!--  TITULO -->
                            <span>{{inscripcionEstudiante.cod_inscripcionPrograma.programa.nom_programa}}</span>
                            <i class="far fa-folder"></i>
                        </div>
                        
                        <div class="card__expander">
                            
                            <div class="contenido-curso">
                                <div>
                                    <i class="fas fa-times [ js-collapser ]" style="cursor: pointer; text-align: right;"></i>
                                </div>
                                
                                <h3>cursos</h3>

                                {% for inscripcionCursoEstudiante in inscripcionesCurso %}
                                    {% if inscripcionCursoEstudiante.inscripcion_programa_estudiante == inscripcionEstudiante%}
                                        
                                        <div class="curso">
                                            <div>
                                                <h2>{{inscripcionCursoEstudiante.detalle_curso.InscripcionCurso.curso.nom_curso}}</h2>
                                                <h2>{{inscripcionCursoEstudiante.detalle_curso.grupo}}</h2>

                                                <h3>actividades:</h3>
                                                {% for actividad in actividades%}
                                                    {%if actividad.Detalle_curso == inscripcionCursoEstudiante.detalle_curso%}
                                                        <p>{{actividad.titulo}}</p>
                                                        <a href="/media/{{actividad.file}}" target="_blank" class="btn btn-success">Descargar</a>
                                                    {%endif%}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {%endif%}
                                {% endfor %}

                            </div>


                          </div>
                    </div>
                {% endfor %}
                
            </div>
          
          </div>

    </div>

</body>