
{% load static %}
<link rel="stylesheet" href="{% static 'css/inscripcion_estudiante.css' %}">
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<div class="cursos">
    <div class="cursos-disponibles">
        {% for curso in cursosDisponibles%}
            <label>
                <input type="checkbox" checked="checked" class="check" />
                <span>{{curso.Nivel_Curso.inscripcion_curso.curso.nom_curso}}</span>
            </label>

            <button class="boton">probar</button>
        {% endfor %}
    </div>
</div>

<script src="{% static 'js/board_Estudiante/inscripcion_estudiante.js' %}"></script>

  
