
{% load static %}

<link rel="stylesheet" href="{% static 'css/programasEstudiante.css' %}">
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Have fun using Bootstrap JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>

    <div class="contenedor">

        <!-- cursos -->
        <div class="wrapper">

            <div class="header">
              <h1 class="header__title">Programas de {{estudiante.nombres}}</h1>
            </div>
          
            <div class="cards">
                {% if inscripcionesEstudiante.count == 0 %}
                    <h2>No tienes ninguna inscripcion a un programa, ¿ya verificaste tu inscripcion?</h2>
                {% endif %}
                {% for inscripcionEstudiante in inscripcionesEstudiante %}
                    <div class=" card [ is-collapsed ] ">
                        <div class="card__inner [ js-expander ]">
                            <!--  TITULO -->
                            <span>{{inscripcionEstudiante.cod_inscripcionPrograma.programa.nom_programa}}</span>
                            <i class="far fa-folder"></i>
                        </div>
                        
                        <div class="card__expander">
                            
                            <div class="contenido-curso">
                                <div>
                                    <i class="fas fa-times [ js-collapser ]" style="cursor: pointer; text-align: right;"></i>
                                </div>
                                
                                <h3>cursos</h3>

                                {% for inscripcionCursoEstudiante in inscripcionesCurso %}
                                    {% if inscripcionCursoEstudiante.inscripcion_programa_estudiante == inscripcionEstudiante%}
                                        
                                        <div class="curso">
                                            <div>
                                                <h2>{{inscripcionCursoEstudiante.detalle_curso.InscripcionCurso.curso.nom_curso}}</h2>
                                                <h2>{{inscripcionCursoEstudiante.detalle_curso.grupo}}</h2>

                                                <h3>actividades:</h3>
                                                {% for actividad in actividades%}
                                                    {%if actividad.Detalle_curso == inscripcionCursoEstudiante.detalle_curso%}
                                                        <p>{{actividad.titulo}}</p>
                                                        <a href="/media/{{actividad.file}}" target="_blank" class="btn btn-success">Descargar</a>
                                                    {%endif%}
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {%endif%}
                                {% endfor %}

                            </div>


                          </div>
                    </div>
                {% endfor %}
                
            </div>
          
          </div>

    </div>

</body>
<script src="{% static 'js/board_Estudiante/programasEstudiante.js' %}"></script>