{% load static %}
<head>
    {% include "complementos/nav.html" %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
</head>

<body>
    <div class="contenido">
        <div class="tarjeta">
            <div class="imagen">

            </div>
            <div class="texto-contenido">
                {% ifequal user.groups.all.0.name "director"%}
                    <p>{{user.username}}</p>
                {% endifequal %}
                {% ifequal user.groups.all.0.name "usuarios"%}
                    
                        <div class="card w-100 h-100 bg-light mb-3">
                            <div class="card-body col-12 my-3 pt-3 shadow-none">
                                {% for usuario in usuarios %}
                                {% if usuario.user_id == user.id %}
                              <h5 class="card-header text-center text-dark"><strong>{{usuario.nombres}} {{usuario.apellidos}}</strong></h5> <br>
                              <p class="card-text">
                                   <label for=""><strong>Número de identificación: </strong></label> {{usuario.identificacion}} <br>                                   
                                   <label for=""><strong>Edad: </strong></label> {{usuario.edad}} <br>
                                   <label for=""><strong>Género: </strong></label> {{usuario.sexo}} <br>
                                   <label for=""><strong>Departamento: </strong></label> {{usuario.ciudad.departamento.nombre}} <br>
                                   <label for=""><strong>Ciudad: </strong> </label> {{usuario.ciudad.nombre}} <br>
                                   <label for=""><strong>Dirección de residencia: </strong></label> {{usuario.direccion}} <br>
                                   <label for=""><strong>Teléfono de contacto: </strong></label> {{usuario.telefono}} <br>
                                   <label for=""><strong>Correo electrónico: </strong></label> {{usuario.correo}} <br>
                                {% endif %}
                            {% endfor %}</p>
                            </div>
                            <button type="button" class="btn btn-secondary cerrar" aria-label="Close">Cerrar</button>
                          </div>
                        
                    
                {% endifequal %}
                {% ifequal user.groups.all.0.name "estudiantes"%}
                    <p>
                        {% for estudiante in estudiantes %}
                            {% if estudiante.id == user.id %}
                                {{estudiante.identificacion}} <br>
                                {{estudiante.apellidos}} <br>
                                {{estudiante.nombres}} <br>
                                {{estudiante.edad}} <br>
                                <p>sexo :</p>{{estudiante.sexo}} <br>
                                <p>telefono </p>  {{estudiante.telefono}} <br>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endifequal %}
                {% ifequal user.groups.all.0.name "estudiantes"%}
                    <p>
                        {% for docente in docentes %}
                            {% if docente.id == user.id %}
                                {{docente.apellidos}} <br>
                                {{docente.nombres}} <br>
                            {% endif %}
                        {% endfor %}
                    </p>
                {% endifequal %}
            </div>
        </div>
    </div>
</body>

{% include "complementos/footer.html" %}
