
{% extends "base.html" %}

<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    {% block title %} 
          {% include "complementos/nav.html" %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pago_realizado.css' %}">
    <title>Document</title>
    {% endblock %}
</head>
<body>
    {% block content %}
    <div class="contenidito">
            <div class="loguito">
                <img height="100%" width="100%" src="https://i.ibb.co/PhBW2xL/Gei-el-que-me-abra.png" alt="">
            </div>
            <div class="derecha">
                <h3> Referencia Enviada </h3>
                <p>
                    Tu referencia ha sido enviada, y está siendo verificada por administración, esto puede tardar algunos minutos.
                    <br><br>
                    <a href="{% url 'index' %}"><button class="btn btn-success">Ir a inicio</button></a>
                </p>
            </div>

    </div>
      

        
    {% endblock %}
    
    
</body>
</html>