{% load static %}
<link rel="stylesheet" href="{% static 'css/primer_pago.css' %}">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">



<body>
  
  <link rel="stylesheet" href="{% static 'js/primer_pago.js' %}" />
  <form action="" method="POST">
    {% csrf_token %}
    <button
      id="botoncito"
      onclick='swal("Good job!", "You clicked the button!", "success");'
    >
      sweetalert
    </button>
    <div class="btn-bg bg-5">
      <div class="btn btn-5">
        <a href="" type="submit" value=""
          ><button href="">Simular primer pago</button></a
        >
      </div>
    </div>
  </form>
</body>


<script src="{% static 'js/primer_pago.js' %}"></script>