{% load static %}

<h1> AQUI SE REALIZARÁ EL PAGO EN LINEA PARA USUARIOS NUEVOS</h1>
<h3> Se conectará la api de nequi o la ke sea</h3>
<h3>{{usuario.nombres}}</h3>

<link rel="stylesheet" href="{% static 'css/primer_pago.css' %}">
<link rel="stylesheet" href="{% static 'css/botones.css' %}">

<form action="" method="POST">{% csrf_token %}

    <div class="btn-bg bg-5">
        <div class="btn btn-5">
          <a href="" type="submit" value=""><button href="">Simular primer pago</button></a>
        </div>
      </div>
</form>
