.contenido{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.lista{
    width: 50%;
    height: 100%;
    background-color: cornflowerblue;
    padding: 20px;
}

.frame{
    width: 50%;
    height: 60%;
    
}

.frame iframe{
    width: 100%;
    height: 100%;
    overflow-y: scroll!important;
    overflow-x: scroll;
}