@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
  /* cartas */
  
.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
}

.container .card{
    position: relative;
    cursor: pointer;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.content p, h3{
    font-size: 12px;
    color: black;
}

.content i{
    font-size: 50px;
    text-align: center;
    color: #ffffff83;
    transition-duration: 0.5s;
}

.container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0);
}
.container .card:hover .face.face1 .content p i{
    color: white;
    margin-top: 50px;
    transition-duration: 0.2s;
    
}
.container .card .face.face1 .content{
    opacity: 0.2;
    transition: 0.5s;
    background-color: rgba(255, 255, 255, 0);
}

.container .card:hover .face.face1 .content{
    opacity: 1;
    
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0)!important;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125)!important;
    border-radius: .25rem;
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #333;
    color: #fff;
}

@media (max-width: 950px) {
    .container{
        display: list-item;
    }
    .card .face.face2 .content{
        background-color: #ffffff00!important;
        height: 28vh;

    }
    .card:hover .face.face2 .content p{
        padding-top: 50px;
        font-size: 12px;
    }
}


.cabecera p{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
}



.cabecera{
    padding-top: 50px;
	width: 100%;
	height: auto;
    background-color: white;
    display: flex;
}

.izq,.der,.centro{
    height: 330px;
}

.izq{
    width: 70%;
    background-image: url(https://i.ibb.co/5GB7LPW/Yamete-kudasai.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

.der{
    width: 54%;
    background-image: url(https://i.ibb.co/pnvzdM4/Shite-pa-alla.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.centro{
    width: auto;
    color: black!important;
    padding-top: 50px;
}

@media (max-width: 1000px){
    .izq , .der{
        display: none;
    }

    .centro{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .cabecera{
        padding-top: 500px;
    }
}

.cabecera h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
	font-size: 45px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
}


button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}

