body{
    color: white;
}

.izquierda, .derecha{
    width: 50%;
    height: auto;
}


.izquierda{
    padding-right: 10px;
}

.content{
    display: inline-flex;
    width: 100%;
    height: 300px;
}

.derecha{
    
}


/* acordion */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

* { 
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;
}

.acc-container {
  width:100%;
  margin:30px auto 0 auto;
  -webkit-border-radius:8px;
  -moz-border-radius:8px;
  -o-border-radius:8px;
  border-radius:8px;
  overflow: hidden;
}

.acc-btn { 
  width:100%;
  margin:0 auto;
  padding:20px 25px;
  cursor:pointer;
  background:#34495E;
  border-bottom:1px solid #2C3E50;
}

.acc-content {
  width:100%;
  margin:0 auto;
  display: none;
  background:#2C3E50;
  padding:30px;
  height: auto;
}

h1 {
  font:700 20px/26px 'Lato', sans-serif;
  color:#ffffff;
}

p { 
  font:400 16px/24px 'Lato', sans-serif;
  color:#798795;
}




/* select */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

 input[type="radio"] {
	 display: none;
}

 input[type="radio"]:checked + label .teal {
	 border: 4px solid #ffffff;
 }
 label {
	 display: inline-block;
	 width: auto;
	 height: 10px;
	 margin-right: 10px;
	 cursor: pointer;
    
}
 label:hover span {
	 transform: scale(1.25);
}
 label span {
	 display: block;
     padding: 10px;
	 width: 100%;
	 height: 100%;
	 transition: transform 0.2s ease-in-out;
}

 label span.teal {
	 background: #00b5ac1a;
}
