

* {
    box-sizing: border-box;
}




.contenido{
    overflow-y: scroll;
}

.contenido-curso{
    margin: 40px;
    width: 100%;
    
}


.contenedor{
    height: auto;
    overflow-y: scroll;
}

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Yantramanav:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.datos{
    width: 100%;
    display: flex;
}

.titulito{
    font-family:'Montserrat', sans-serif!important;
    font-weight: 500;
    text-align: center;
}

.contenido-curso h2{
    text-align: center;
}

.cuadrito{
    height: auto;
}

/* FILE UPLOAD */
/* Basics */
.subir{
    width: 100%!important;
    background-color: #1abc9c;
    border: none;
    color: white;
    font-family:'Montserrat', sans-serif!important;
}

.subir:hover{
    background-color: #169e83;
}

.subir:active{
    background-color: #22e0ba;
}

.actividad{
    width: 100px;
    height: auto;
    background-color: white;
    margin-right: 20px;
}

.imagen{
    width: 100px;
    height: 100px;
}

.archivos-subidos{
    margin-top: 15px;
    display: flex;
}

.descargar{
    background-color: teal!important;
    color: white!important;
    border-radius: 0px!important;
    animation: none!important;
    border: none!important;
    width: 100%!important;
}

.texto-actividad{
    height: auto;
}

.texto-actividad p{
    color: black;
    font-size: 12px;
    text-align: center;
    height: 40px;
}

/***************************************** upload button styles ******************************************/
.file-input {
    display: inline-block;
    text-align: left;
    background: #fff;
    padding: 16px;
    width: 100%;
    position: relative;
    border-radius: 3px;
  }
  
  .file-input > [type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }
  
  .file-input > .button {
    display: inline-block;
    cursor: pointer;
    background: rgb(27, 74, 88);
    padding: 8px 16px;
    border-radius: 2px;
    margin-right: 8px;
  }
  
  .file-input:hover > .button {
    background: rgb(45, 123, 146);
    color: white;
  }
  
  .file-input > .label {
    color: #333;
    white-space: nowrap;
    opacity: .3;
  }
  
  .file-input.-chosen > .label {
    opacity: 1;
  }

  .primeros{
      border-radius: 0px!important;
      margin-bottom: 5px!important;
  }

.wrapper {
    margin: 5em auto;
    max-width: auto;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
    height: 650px;
    overflow-y: scroll;
}
.header {
    padding: 30px 30px 0;
    text-align: center;
}
.header__title {
    margin: 0;
    font-size: 2.5em;
    font-weight: 500;
    line-height: 1.1;
}
.header__subtitle {
    margin: 0;
    font-size: 1.5em;
    color: #949fb0;
    font-family: 'Yesteryear', cursive;
    font-weight: 500;
    line-height: 1.1;
}
.cards {
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
}
.card {
    margin: 15px;
    width: calc((100% / 3) - 30px);
    transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 991px) {
    .card {
        width: calc((100% / 2) - 30px);
   }
}
@media screen and (max-width: 767px) {
    .card {
        width: 100%;
   }
}
.card:hover .card__inner {
    background-color: #3eabaf;
    transform: scale(1.05);
}
.card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    cursor: pointer;
    background-color: #949fb0;
    color: #eceef1;
    font-size: 1.5em;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.card__inner:after {
    transition: all 0.3s ease-in-out;
}
.card__inner .fa {
    width: 100%;
    margin-top: 0.25em;
}
.card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #333a45;
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    color: #eceef1;
    font-size: 1.5em;
    z-index: 90;
}
.card__expander .fa {
    font-size: 0.75em;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.card__expander .fa:hover {
    opacity: 0.9;
}
.card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0;
}
.card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0;
}
.card.is-expanded .card__inner {
    background-color: #1abc9c;
}
.card.is-expanded .card__inner:after {
    content: "";
    opacity: 1;
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    bottom: -30px;
    left: calc(50% - 15px);
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #333a45;
}
.card.is-expanded .card__inner .fa:before {
    content: "\f115";
}
.card.is-expanded .card__expander {
    max-height: 1000px;
    min-height: 200px;
    overflow: visible;
    margin-top: 30px;
    opacity: 1;
}
.card.is-expanded:hover .card__inner {
    transform: scale(1);
}
.card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5;
}
.card.is-inactive:hover .card__inner {
    background-color: #949fb0;
    transform: scale(1);
}
@media screen and (min-width: 992px) {
    .card:nth-of-type(3n+2) .card__expander {
        margin-left: calc(-100% - 30px);
   }
    .card:nth-of-type(3n+3) .card__expander {
        margin-left: calc(-200% - 60px);
   }
    .card:nth-of-type(3n+4) {
        clear: left;
   }
    .card__expander {
        width: calc(300% + 60px);
   }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .card:nth-of-type(2n+2) .card__expander {
        margin-left: calc(-100% - 30px);
   }
    .card:nth-of-type(2n+3) {
        clear: left;
   }
    .card__expander {
        width: calc(200% + 30px);
   }
}
