.wrapper{
    
    width: 98%;
    height: 97%;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.06);
}

.bloque{
    display: flex;
    padding-top: 20px;
    background-color: rgb(214,214,214);
    width: 100%;
    height: 100%;
}

.izquierda{
    width: 40%;
    margin-left: 0px!important;
    background-color: transparent;
    height: 500px;
   
}

.derecha{
    width: 40%;
    margin-left: 0px!important;
    height: 500px;
    background-color: transparent;
    
}

.tituloPrincipal{

    font-family: 'Montserrat', sans-serif!important;
    font-weight: 700;
    color: rgb(102, 102, 102);

    text-align: center;
    margin-top: 20px;

    width: 100%;
    height: auto;
}

.tituloIzq{
    text-align: center;
    color:  rgb(102, 102, 102);
}

.tituloDerecha{
    text-align: center;
    color : rgb(102, 102, 102);
}

.buscador{
    padding-top: 32px;
}

.btn{
    background-color: rgb(197,148,255)!important;
    border: none!important;
}

.eliminarBTN{
    background-color: rgb(224, 77, 77)!important;
}

.editarBTN{
    background-color:rgb(138,189,244)!important;
}