
.bloque{
    display: flex;
    padding-top: 20px;
    background-color: rgb(214,214,214);
    width: 100%;
    height: 100%;
}

.izquierda{
    width: 50%;
    margin-left: 0px!important;
    background-color: transparent;
    height: 500px;
   
}

.derecha{
    width: 50%;
    height: 500px;
    background-color: white;
    
}

.tituloPrincipal{

    font-family: 'Montserrat', sans-serif!important;
    font-weight: 700;
    color: rgb(102, 102, 102);

    text-align: center;
    margin-top: 20px;

    width: 100%;
    height: auto;
}

.tituloIzq{
    text-align: center;
}
