.galery {
  padding-top: 100px;
  display: grid;
  grid-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(2, 1fr);
}
.galery .item {
  transition: opacity 0.5s ease;
  opacity: 0.4;
  height: 200px;
}
.galery .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.galery .item:hover {
  opacity: 1;
}
