@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


  
  /* tabla fondo */
  .tabla-fondo{
    padding: 20px;
    background-color: #ffffff;
    height: 380px!important;
    white-space: nowrap;
    overflow-y: auto!important;
    -webkit-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
  }

  .table{
    
  }
  /* PROGRAMAS */
  .programas-seccion{
    display: inline-flex;
    flex-direction: row;
    
  }
  .programa{
    /* background-color: rgb(43,177,171); */
    width: auto;
    height: auto;
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 10px;
    margin-left: 4px;
  }

  .programa p{
    color: white;
    font-weight: 700;
    font-size: 14px;
  }


  /* expanded */
   

  /* boton add */

  .add{
      width: 100%;
      margin-bottom: 10px;
      background-color: rgb(9,38,56)!important;
      -webkit-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
      /* transition: .2s; */
  }

  .add:hover{
      /* transition:  .2s; */
      background-color: rgb(43,177,171)!important;
  }

  .registrar{
      margin-top: 10px;
  }
  /* secciones */
  .seccion1{
    margin: 20px;
  }
  .seccion2{
      margin: 20px;
      -webkit-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
  }

  .seccion2 .titulo h2{
      font-size: 35px;
      color: white;
      text-align: center;
      font-weight: 700;
      padding-top: 35px;
  }

  .seccion2 .titulo{
      background-image: url("https://cdn.pixabay.com/photo/2020/12/12/13/15/leaves-5825458_960_720.jpg");
      width: 100%;
      height: 120px;
      margin-bottom: 10px;
      font-family: 'Poppins', sans-serif;
      /* background: #2fb3bd; */
  }

  