.card{
    width: 200px!important;
    height: auto!important;
    display: flex;
}

.container{
    display: flex;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
  

/* drog and drop */

.example-parent {
    /* border: 2px solid #DFA612; */
    color: black;
    /* display: flex; */
    font-family: sans-serif;
    font-weight: bold;
  }
  
  .example-parent h2{
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 900!important;
    text-align: center;
  }
  .example-origin {
     /* flex-basis: 100%; 
    flex-grow: 1; */
    padding: 10px;
    height: 150px;
    margin-left: 50px;
    margin-right: 50px;
    -webkit-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
  }

  .example-origin:empty{
    
  }
  
  .example-draggable {
    background-image: url(https://image.freepik.com/vector-gratis/fondo-colorido-diseno-memphis_53876-80404.jpg);
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-size: cover;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    display: inline-flex;
    width: auto;
    height: 100px;
    border-radius: 2%;
    margin-left: 10px;
  }

  .example-draggable h2{
    color: #102647;
      font-family: 'Montserrat', sans-serif!important;
      font-weight: 900!important;
      font-size: 30px;
      text-align: center;
    height: auto!important;
    
  }
  .contenedor-periodos{
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    background-color: #102647;
  }

  .titulo-periodo{
    color: white;
  }


  .example-dropzone {
    padding: 10px;
    height: 150px;
    -webkit-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    -moz-box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
    box-shadow: 2px 7px 21px 4px rgba(0,0,0,0.21);
  }


  button{
    margin-bottom: 20px;
  }