<div class="modal" id="ventanaLogin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
  
         <form method="POST"> {% csrf_token %}
               <input type="text" name="username">
               <input type="text" name="password">
               <button type="Submit">Entrar</button>
               {{message}}
            {% if user.is_active %}
                <p>usuario activo</p>
            {% endif %}
            {{message}}
          </form>
        </div>
     </div>
  </div>