{% load static %}

<head>
   <title> login </title>
   <head>
                    <!-- jQuery -->
          <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
          <!-- BS JavaScript -->
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
          <!-- Have fun using Bootstrap JS -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>

            <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
          <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
</head>

<body>
  

  <div class="section">

    <center>
      <div class="layout">
        <div class="info">
              <form method="POST" action="{% url 'login' %}" id="form">{% csrf_token %}
                    <h3 id="titulo">Iniciar sesión</h3>
                    <!-- MENSAJE DE ERROR -->
                    <div class="mensaje" >
                      <p>sin nada</p>
                    </div>
                    <!-- FORM -->
                    <div class="input-field col s6">
                      <input id="last_name" type="text" class="validate" name="username" required>
                      <label for="last_name">Usuario</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="password" type="password" class="validate" name="password" required>
                      <label for="password">Password</label>
                    </div>

                    
                    <button type="Submit" name="submit" value="submit" class="ingresar" >Iniciar sesión</button>

                    <hr>
                    <a href="#" style="display: block;">¿No puedes iniciar sesión?</a> 
                    <a href="#">-  Registrese en la academia  -</a>
              </form>
          </div>
        </div>
      </div>

      
    </center>
    

  </div>


</body>

<script src="{% static 'js/login.js' %}"></script>