@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.contenido_header{
    padding-top: 60px;
    height: auto;
    width: 100%;
}

.barraImg{
    background-image: url(https://cdn.pixabay.com/photo/2018/07/25/19/21/graffiti-3562078_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    
}

.contenido_info{
    display: flex;
    background-color: white;
    width: 100%;
    height: auto;
}

.tituloPrincipal{
    font-family: 'Montserrat', sans-serif!important;
    text-decoration: none!important;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 150px;

}
.subtitulo1{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 800;

}
.subtitulo{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    text-align: left;
}


.bloqueIzq{
    /* sobre la letra */
    line-height: 35px; /*interlineado del parrafo*/
    font-size: larger; /* tamaño letra*/
    font-family: 'Montserrat', sans-serif!important;

    margin-left: 80px;
    margin-top: 80px;
    width: 50%;
    height: auto;
    
}

.derecha{
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    display: flex;
    margin-top: 80px; 
}

.basico{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(127, 251, 255, 0.61);
    width: 45%;
}

.avanzado{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(102, 176, 226, 0.63);
    width: 45%;
}

.te{
    text-align: center;
    text-decoration: none!important;
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    font-size: smaller;
}