@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Kite+One');


@media (max-width: 768px) {
    .contenido{
        background-color: white;
        padding-top: 200px;
        height: 1500px;
        width: 100%;
    }
}

.contenido_header{
    padding-top: 60px;
    height: auto;
    width: 100%;
}
.barraImg{
    /*top: -15; */
    padding-top: 10px; /**/
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/00/43/audio-1851517_960_720.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 400px;
    width: 100%;
}

.contenido_info{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}
.titulo_principal{
    font-family: 'Montserrat', sans-serif!important;
    text-decoration: none!important;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 150px;
        
}
.subtitulo1{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 800;
}
.subtitulo{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    text-align: left;

}

.izquierda{
    line-height: 35px; /*interlineado del parrafo*/
    font-size: larger; /* tamaño letra*/
    font-family: 'Montserrat', sans-serif!important;
    
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    margin-top: 80px;
}

.derecha{
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    display: flex;
    margin-top: 80px;
    
}

.juvenil{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(127, 251, 255, 0.61);
    width: 50%;
}
.prejuvenil{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(102, 176, 226, 0.63);
    width: 50%;
}
.te{
    text-align: center;
    text-decoration: none!important;
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    font-size: smaller;
}