@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Kite+One');



@media (max-width: 768px) {
    .contenido{
        background-color: white;
        padding-top: 200px;
        height: 1500px;
        width: 100%;
    }
}

.contenido_header{
    padding-top: 60px;
    height: auto;
    width: 100%;
}
.barraImg{
    /*top: -15; */
    padding-top: 10px; /**/
    background-image: url(https://cdn.pixabay.com/photo/2016/11/23/00/43/audio-1851517_960_720.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    height: 400px;
    width: 100%;
}

.contenido_info{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.titulo_principal{
    font-family: 'Montserrat', sans-serif!important;
    text-decoration: none!important;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 150px;
        
}
.subtitulo1{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 800;
}
.subtitulo{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    text-align: left;

}

.izquierda{
    line-height: 35px; /*interlineado del parrafo*/
    font-size: larger; /* tamaño letra*/
    font-family: 'Montserrat', sans-serif!important;
    
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    margin-top: 80px;
}

.derecha{
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    margin-top: 80px;
    
}

.card{
  position: center;
}

.juvenil{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(127, 251, 255, 0.61);
    width: 45%;
}
.prejuvenil{
    padding-top: 10px;
    position: absolute;
    background-color: rgba(102, 176, 226, 0.63);
    width: 45%;
}
.te{
    text-align: center;
    text-decoration: none!important;
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    font-size: smaller;
}

.instrumentos{
    height: auto;  
}

.title_inst{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 800;
}

.btn-hover {
  width: 200px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

/*codepen*/


  .card-container {
    display: flex;
    padding: 2rem 1rem;
  }

  .cardww h2 {
    font-family: 'Montserrat', sans-serif!important;
    font-size: 25px;
    text-align: center;
  }

  .card-container .cardww {
    flex: 1;
    transition: all 0.3s ease-in-out;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
  }

  .card-container .cardww:not(:first-child) {
    margin-left: -10rem;
  }
  .cardww img {
    padding: 35px;
    width: 70%;
    display: block;
    margin: 0 auto;
  }
  .card-container .cardww:hover,
  .card-container .cardww:focus {
    transform: translateY(-1rem);
    outline: none;
  }
  .card-container .cardww:hover ~ .cardww,
  .card-container .cardww:focus ~ .cardww {
    transform: translateX(11rem);
  }
  
  @media (max-width: 767px) {
    #demo {
      margin-top: 0px;
    }
  
    .card-container {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0rem 1rem 2rem;
    }
    .card-container .cardww {
      flex: 1 1 100%;
      max-width: 200px;
    }
    .card-container .cardww:not(:first-child) {
      margin-left: 0rem;
      margin-top: 2rem;
    }
    .card-container .cardww:hover,
    .card-container .cardww:focus {
      transform: translateX(0rem);
    }
    .card-container .cardww:hover ~ .cardww,
    .card-container .cardww:focus ~ .cardww {
      transform: translateY(0rem);
    }
    .cardww img {
      padding: 5px;
    }
  }
  