@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');


.contenido_header{
    padding-top: 60px;
    height: auto;
    width: 100%;
}

.barraImg{
    background-image: url(https://cdn.pixabay.com/photo/2016/06/09/02/42/crayons-1445053_960_720.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;    
}

.contenido_info{
    display: flex;
    width: 100%;
    height: auto;
    background-color: white;
}

.tituloPrincipal{
    font-family: 'Montserrat', sans-serif!important;
    text-decoration: none!important;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 150px;

}
.subtitulo1{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    text-align: center;
    font-weight: bolder;
    font-size: 800;

}

.subtitulo{
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    text-align: left;
}


.bloqueIzq{
    /* sobre la letra */
    line-height: 35px; /*interlineado del parrafo*/
    font-size: larger; /* tamaño letra*/
    font-family: 'Montserrat', sans-serif!important;

    margin-left: 80px;
    margin-top: 80px;
    width: 50%;
    height: auto;
}

.derecha{
    width: 50%;
    margin-left: 80px!important;
    height: auto;
    margin-top: 80px;
    
}

.carousel {
    position: center;
    margin-top: 15%;
  
  }
.carousel-item img{
    width: 85%;
    height: 50%;
}
  
.carousel-control-next{
    background-size: 10px;
    margin-right: 15%;
}

/* boton registrarse */
.btn-hover {
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
  
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn-hover:focus {
    outline: none;
  }
  
  .btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
  }

.artes{
    position: absolute;
    background-color: rgba(155, 127, 255, 0.548);
    width: 45%;
    padding-top: 10px;
}
.musica{
    position: absolute;
    background-color: rgba(163, 255, 127, 0.692);
    width: 45%;
    padding-top: 10px;

}
.te{
    text-align: center;
    text-decoration: none!important;
    font-family: 'Montserrat', sans-serif!important;
    color: black;
    font-weight: 600;
    font-size: smaller;
}