{% load static %}
    <link rel="stylesheet" href="{% static 'css/asignaturas.css' %}">

<div class="principal">
    <h1>ASIGNATURAS</h1>
<!-- SI ES UN DIRECTOR -->
    <div class="programa">
        <div class="form-group">
            <h3 class="title">Seleccione el programa academico</h3>
            <label for=""> Escoja el programa academico al que quiere añadir asignaturas.</label>
            <select class="form-control" name="programas">
              {% for programas in objprograma %}
              <option>{{ programas.nom_programa }} </option>
              {% endfor %}
            </select>
        </div>    
    </div> 
    {% if user.is_superuser == 1 %}
        <a class="btn btn-light" href="{% url 'crearasignatura' %}" >Crear Asignatura</a>
        <!-- Aqui recorremos la lista de cursos, esto solo lo vera el director academico-->
        {% for asignatura in asignaturas %}
            <div class="card carta" style="width: 18rem;">
                <img src="http://wallpapers4screen.com/Uploads/15-11-2017/37581/thumb2-geometry-3d-art-geometric-shapes-creative-purple-background.jpg" class="card-img-top" alt="fondo">
                <div class="card-body">
                <h5 class="card-title">{{asignatura.nom_asig}}</h5>
                <p class="card-text">Codigo de la asignatura: {{asignatura.cod_asig}}</p>
                <a href="#" class="btn btn-primary">Ir a la asignatura</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>
    
   
