{% extends "base.html" %}

    {% block title %} 
            {% include "complementos/nav.html" %}
    {% endblock %}

{% block content %}
<body>
    <div class="principal"></div>
    <!-- SI ES UN DIRECTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOR -->
    <div class="contenido">
        {% if user.is_superuser == 1 %}
            <h1>ASIGNATURAS</h1>
            <a class="btn btn-light" href="{% url 'crearasignatura' %}" >Crear Asignatura</a>
            <hr>
            <!-- Aqui recorremos la lista de cursos, esto solo lo vera el director academico-->
            {% for asignatura in asignaturas %}
                <div class="card carta" style="width: 18rem;">
                    <img src="http://wallpapers4screen.com/Uploads/15-11-2017/37581/thumb2-geometry-3d-art-geometric-shapes-creative-purple-background.jpg" class="card-img-top" alt="fondo">
                    <div class="card-body">
                    <h5 class="card-title">{{asignatura.nom_asig}}</h5>
                    <p class="card-text">Codigo de la asignatura: {{asignatura.cod_asig}}</p>
                    <a href="#" class="btn btn-primary">Ir a la asignatura</a>
                    </div>
                </div>
            {% endfor %}

        {% endif %}
    </div>

    
</body>
            <style>
                body{
                    background-color: rgb(45, 114, 254)!important;
                }
                .carta{
                    display: inline-flex;
                }
                .contenido{
                    margin-top: 200px;
                    width: 500px;
                    margin-left: 50px;
                }
                .principal{
                    height: 500px;
                }
            </style>
{% endblock %}