{% extends "index.html" %}

{% block content %}

{# esto es el contenido cambiante dentro de admisiones #}
<!-- <form method="POST">
        {% csrf_token%}
        {{form.as_p}}
        <button type="submit">Guardar</button>
</form> -->
<!-- /registroPago es el url al que me va enviar  -->
<form action="/registroPago/" method="GET">  
        <div>
        <label for="">id estudinate</label>
        <input type="text" name="id" id="">
        
        <button type="submit">Buscar</button>
        <div></div>
</form>
{% endblock %}