{% load static %}

<link rel="stylesheet" href="{% static 'css/crearAsignatura.css' %}">


<div class="modal-dialog modal-lg" role="document" id="miModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Crear Nueva Asignatura</h2>
            <button class="cerrar" onclick="cerrarModal()" type="button" data-dismiss = "modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    
        <div class="modal-body"> 
                    
                
                <div class="acc-container">
                    <div class="acc-btn"><h1>Agregar nivel a una asignatura ya existente</h1></div>
                    <div class="acc-content">
                        <p>agrega contenido (nivel) a una asignatura.</p>
                        <div class="contenedor-asignaturas">
                            <h1>Selecciona una asignatura</h1>
                            
                            <form method="POST" id="formEditarAsignatura" action="{% url 'editarAsignatura' %}">
                                {% csrf_token %}
                                <select name="asignaturaSelect" id="" class="form-control">
                                    {% for asignatura in asignaturas %}
                                        <option value="{{asignatura.cod_asig}}">{{asignatura.nom_asig}}</option>
                                    {% endfor %}
                                </select>
                                <label for="start">Ingrese el nivel</label>
                                <select class="form-select mb-4" aria-label="Seleccione el dia" name="nivel">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                                <label for="start">Ingrese la descripcion</label>
                                <input type="text" class="form-control" name="descripcion" placeholder="ejemplo : esto es una asignatura">
                                <label for="start" >Dia</label>
                                        <select class="form-select mb-4" aria-label="Seleccione el dia" name="dia">
                                            <option value="lunes">lunes</option>
                                            <option value="martes">martes</option>
                                            <option value="miercoles">miercoles</option>
                                            <option value="jueves">jueves</option>
                                            <option value="viernes">viernes</option>
                                            <option value="sabado">sabado</option>
                                        </select>
                                <label for="start" class="">Hora inicial</label>
                                <input type="time" class="form-control" id="appt" name="hora_inicial" min="09:00" max="18:00" required>
            
                                <label for="start" class="">Horario inicial</label>
                                <input type="time" class="form-control" id="appt" name="hora_final" min="09:00" max="18:00" required>

                                <select  class="form-control" id="exampleFormControlSelect1" name="docente">
                                    {% for docente in docentes %}
                                    <option value="{{docente.identificacion}}">{{ docente.nombres }} </option>
                                    {% endfor %}
                                </select>  

                                <button type="submit" class="btn btn-success">Guardarrr</button>  
                            </form>
                            
                        </div>
                    </div>
                    <div class="acc-btn"><h1>Crear una asignatura</h1></div>
                    <div class="acc-content">
                            <form action="{% url 'crudAsignatura' %}" method="POST" id="formCrear">
                                {% csrf_token %}
                                <input type="text" name="codigo" placeholder="ingrese el codigo">
                                <input type="text" name="nombre" placeholder="ingrese el el nombre">
                                <input type="text" name="descripcion" placeholder="descripcion">
                                <button type="submit" class="btn btn-success">Guardar</button>     
                            </form>
                    
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                
        </div>

    <!--<script src="{% static 'js/crearAsignatura.js' %}"></script>-->
    <script src="{% static 'js/asignaturas.js' %}"></script>
</div>


