{% load static %}


<div class="modal-dialog modal-lg" role="document" id="miModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Crear Periodo</h2>
            <button class="cerrar" onclick="cerrarModal()" type="button" data-dismiss = "modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
            
            {% csrf_token %}
            <div class="modal-body">
                <form  method="POST" action="{% url 'crearPeriodo' %}" id="form_periodos">
                    {% csrf_token %}
                    <label for="start">Fecha inicio</label>
                    <input type="date" id="start" name="trip-start" value="{{fecha_actual.year}}-{{mes_actual}}-{{dia_actual}}" min="{{fecha_actual.year}}-{{mes_actual}}-{{dia_actual}}" max="">
                    <label for="start">Fecha Final</label>
                    <input type="date" id="start" name="trip-start" value="{{fecha_recomendada.year}}-{{mes_recomendado}}-{{dia_recomendado}}" min="{{fecha_recomendada.year}}-{{mes_recomendado}}-{{dia_recomendado}}" max="">
                    <div class="modal-footer">
                        <button type="Submit" value="Submit" class="btn btn-success registrar" onclick="prueba()">registrar</button>
                    </div>
                    
                </form>
            </div>
    </div>
</div>



<script src="{% static 'js/periodo.js' %}"></script>