{% load static %}
    
<div class="modal-dialog modal-lg" role="document" id="miModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Crear Curso</h2>
            <button class="cerrar" onclick="cerrarModal()" type="button" data-dismiss = "modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form id="formCrearCurso" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {{ form.as_p }}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="cerrarModal()" type="button" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Confirmar</button>
            </div>
        </form>
    </div>
</div>

<!--<div class="modal hide" id="modalCurso"> 
    <form id="formCrearCurso" method="POST" action=""> 
        <div class="modal-header"> 
            <h3>MODAL</h3> 
        </div> 
            <div class="modal-body"> 
                {% csrf_token %} {{form.as_p}} 
            </div> 
        <div class="modal-footer"> 
            <input class="btn btn-primary" type="submit" value="Save" /> 
            <input name="cancel" class="btn" type="submit" value="Cancel"/> 
        </div> 
    </form> 
</div>

<script src="{% static 'js/cursos.js' %}"></script>


<body>
    <div class="contenedor">
        <h3>Crear curso</h3>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <input id="crearCursito" type="submit" value="Crear Curso">
           
        </form>
    </div>
    
</body>

<style>

*{
        margin: 0;
        padding: 0;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: #3282b8;
    }
    
    h3{
        color: white;
        text-align: center;
        font-size: 40px;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    label{
        color: white;
        font-size: 17px;
        display: block;
    }

    .contenedor{
        width: 70%;
        margin-left: 15%;
        margin-top: 5%;
        border: 1px solid white;
      
    }  

    .contenedor a{
        display: block;
        width: 20%;
        margin-top: 3%;
        margin-left: 40%;
    }

    form{
        text-align:  center;
    }

    .contenedor input[type="text"]{
        display: block;
        color: white;
        border: none;
        background: #146194;
        border-bottom: 2px solid white;
        
        width: 30%;
        height: 25px;
        margin-bottom: 3%;
        margin-left: 35%;
    }

    .contenedor select[name="Programa"]{
        color: white;
        background: #146194;
        border-bottom: 2px solid white;
        
    }
    
    .contenedor select[name="dia"],
    .contenedor select[name="h_inicio"],
    .contenedor select[name="h_final"]{
        color: white;
        background: #146194;
        border-bottom: 2px solid white;
        margin-bottom: 2%;
    }

    

    .contenedor input[type="submit"]{
        display: block;
        background: #146194;
        color: white;
        font-size: 15px;
        font-weight: bold;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-left: 44%;
        padding: 5px;
    }
    .contenedor input[type="submit"]:hover{
        background: white;
        color: #3282b8;
    }


</style>-->
