{% load static %}

<link rel="stylesheet" href="{% static 'css/crearcurso.css' %}">

<div class="modal-dialog modal-lg" role="document" id="miModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Crear Nuevo Curso</h2>
            <button class="cerrar" onclick="cerrarModal()" type="button" data-dismiss = "modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
            {% csrf_token %}
            <div class="modal-body">
                <form method="POST" id="formCrearCurso" action="{% url 'crearcurso' %}">
                    {% csrf_token %} 
                    
                    <div class="content">
                        <div class="izquierda">
                            <label for="start" class="">Código</label>
                            <input name="cod_curso" type="text" class="form-control">
                            <label for="start" class="">Nombre</label>
                            <input name="nom_curso" type="text" class="form-control">

                            <!-- nivel -->
                            <label for="start" class="">Nivel</label>
                            <select class="form-select mt-1" aria-label="Seleccione el nivel del curso">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                            <!-- descripcion -->
                            <label for="start" class="">Descripcion</label>
                            <input name="cod_curso" type="text" class="form-control">
                        </div>
                        <div class="derecha">
                            <label for="start" class="">Docente</label>
                            <select  class="form-control" id="exampleFormControlSelect1" name="docente">
                                {% for docente in docentes %}
                                    <option>{{ docente.nombres }} </option>
                                {% endfor %}
                            </select>
                            <label for="start" class="">Grupo</label>
                            <input name="grupo" type="text" class="form-control">
                            <label for="start" class="">Horario inicial</label>
                            <input type="time">

                        </div>
                    </div>

                   
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="cerrarModal()" type="button" data-dismiss="modal">Cancelar</button>  
                <button class="btn btn-primary enviar" type="submit" value="submit">Confirmar</button>           
            </div>
        </form>
    </div>
</div>

<script src="{% static 'js/cursos.js' %}"></script>
