{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content=="IE=edge"/>
    <meta name="google" value="notranslate"/>
    <link rel="stylesheet" href="{% static 'css/crearprograma.css' %}">
    <title>crear Programa</title>
</head>
<body>
    
{% block content %}
    
    
    <div class="programa">
        
        <h3>Crear Programa</h3>
        
    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Crear Programa">
    </form>
</div>

{% endblock %}
</body>
</html>