{% load static %}

<link rel="stylesheet" href="{% static 'css/crearcurso.css' %}">
<link rel="stylesheet" href="{% static 'css/validaciones.css' %}">


<div class="modal-dialog modal-lg" role="document" id="miModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" style="color: black;">Crear Nuevo Curso</h2>
            <button class="cerrar" onclick="cerrarModal()" type="button" data-dismiss = "modal" aria-label="Cerrar">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        
            
            <div class="modal-body"> 
                    
                 
                <div class="acc-container">
                    <div class="acc-btn"><h1>Agregar contenido a un curso ya existente</h1></div>
                    <div class="acc-content">
                        <p>agrega contenido (nivel y detalle) a un curso que ya has creado.</p>
                        <div class="contenedor-cursos">
                            <h1>Seleccion un curso al que deseas agregar algún nivel y/o detalle.</h1>

                            <form method="POST" id="formEditarCurso" action="{% url 'editarcurso' %}">
                                {% csrf_token %}
                                    <select class="form-select mt-1" aria-label="Seleccione el curso" name="codigo_curso" id="comboCursos">
                                        {% for curso in detalles %}
                                            <option value="{{curso.cod_curso}}">{{curso.nom_curso}}</option>
                                        {% endfor %}
                                    </select>
                                        <!-- nivel -->
                                        <label for="start" class="">Nivel</label>
                                        <select class="form-select mt-1" aria-label="Seleccione el nivel del curso" name="nivel">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                        </select>
            
                                        <!-- descripcion -->
                                        <div id="descripcionedid">
                                            <label for="start" class="">Descripcion</label>
                                            <input name="descripcion" type="text" class="form-control inputs">
                                            <p class="fomulario__input-error ">La descripcion no permite caracteres especiales(/\#$%&)
                                                debe cotener entre(8-60) caracteres
                                            </p>
                                            </div>
                                        


                                    
                                        <label for="start" class="">Docente</label>
                                        <select  class="form-control" id="exampleFormControlSelect1" name="docente">
                                            {% for docente in docentes %}
                                                <option value="{{docente.identificacion}}">{{ docente.nombres }} </option>
                                            {% endfor %}
                                        </select>
                                        <!-- grupo -->
                                        <div id="grupo_editar">
                                            <label for="start" class="">Grupo</label>
                                            <input name="grupo" type="text" class="form-control inputs ">
                                            <p class="fomulario__input-error ">el grupo solo permite numeros entre 1 a 2 caracteres
                                            </p>
            
                                            </div>
                                        
            
                                        <label for="start" class="">Dia</label>
                                        <select class="form-select mb-4" aria-label="Seleccione el dia" name="dia">
                                            <option value="lunes">lunes</option>
                                            <option value="martes">martes</option>
                                            <option value="miercoles">miercoles</option>
                                            <option value="jueves">jueves</option>
                                            <option value="viernes">viernes</option>
                                            <option value="sabado">sabado</option>
                                        </select>
                                        <!-- horas -->
                                         <div id="hora_inicial_editar">
                                            <label for="start" class="">Hora inicial</label>
                                            <input type="time" id="appt_inicio_editar" name="hora_inicial" class="inputs" min="08:00" max="18:00" required>
                                            <p class="fomulario__input-error "> la hora inicial no puede ser mayor a las 6:00pm y menor a las 8:00 am
                                            </p>
                                            </div>

                                            <div id="hora_final_editar">
                                            <label for="start" class="">Horario final</label>
                                            <input type="time" id="appt_final_editar" name="hora_final" class="inputs"  min="08:00" max="18:00" required>
                                            <p class="fomulario__input-error "> La hora final no puede ser menor a la inicial y mayor a las 6:00pm
                                            </p>
                                            </div>
             
                                        
        
        
                                        <button  id="btn_editarC" class="btn btn-primary enviar" type="submit" value="submit">Confirmarr</button>   
                                </form>
                            
                        </div>
                    </div>

                    <form method="POST" id="formCrearCurso" action="{% url 'crearcurso' %}">
                    {% csrf_token %}
                    <div class="acc-btn"><h1>Crear un curso nuevo</h1></div>
                    <div class="acc-content">
                        <div class="content">
                            <div class="izquierda">

                                <div id="codigo">                                
                                <label for="start" class="">Código</label>
                                <input name="cod_curso" type="text" class="form-control inputs">
                                <p class="fomulario__input-error ">El codigo solo puede contener letras, numeros y giones(-_)(entre 4 y 8 caracteres)</p>
                                </div>

                                <div id="nombre">
                                <label for="start" class="">Nombre</label>
                                <input name="nom_curso" type="text" class="form-control inputs">
                                <p class="fomulario__input-error ">El nombre solo puede contener letras y espacios</p>
                                </div>
                                    
                                <!-- nivel -->
                                <label for="start" class="">Nivel</label>
                                <select class="form-select mt-1" aria-label="Seleccione el nivel del curso" name="nivel">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
    
                                <!-- descripcion -->
                                <div id="descripcion">
                                <label for="start" class="">Descripcion</label>
                                <input name="descripcion" type="text" class="form-control inputs">
                                <p class="fomulario__input-error ">La descripcion no permite caracteres especiales(/\#$%&)
                                    debe cotener entre(8-60) caracteres
                                </p>
                                </div>
                            </div>
                            <div class="derecha">
                                <label for="start" class="">Docente</label>
                                <select  class="form-control" id="exampleFormControlSelect1" name="docente">
                                    {% for docente in docentes %}
                                        <option value="{{docente.identificacion}}">{{ docente.nombres }} </option>
                                    {% endfor %}
                                </select>
                                <div id="grupo">
                                <label for="start" class="">Grupo</label>
                                <input name="grupo" type="text" class="form-control inputs ">
                                <p class="fomulario__input-error ">el grupo solo permite numeros entre 1 a 2 caracteres
                                </p>

                                </div>
    
                                <label for="start" class="">Dia</label>
                                <select class="form-select mb-4" aria-label="Seleccione el dia" name="dia">
                                    <option value="lunes">lunes</option>
                                    <option value="martes">martes</option>
                                    <option value="miercoles">miercoles</option>
                                    <option value="jueves">jueves</option>
                                    <option value="viernes">viernes</option>
                                    <option value="sabado">sabado</option>
                                </select>
                                <div id="hora_inicial">
                                <label for="start" class="">Hora inicial</label>
                                <input type="time" id="appt_inicio" name="hora_inicial" class="inputs" min="08:00" max="18:00" required>
                                <p class="fomulario__input-error "> la hora inicial no puede ser mayor a las 6:00pm y menor a las 8:00 am
                                </p>
                                </div>
                                <div id="hora_final">
                                <label for="start" class="">Horario final</label>
                                <input type="time" id="appt_final" name="hora_final" class="inputs"  min="08:00" max="18:00" required>
                                <p class="fomulario__input-error "> La hora final no puede ser menor a la inicial y mayor a las 6:00pm
                                </p>
                                </div>

                                <button id="btn_crearC" class="btn btn-primary enviar" type="submit" value="submit">Confirmar</button>   
                            </div>
                        </div>
                    </div>
                </div>
                    
                 
                    

                   
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="cerrarModal()" type="button" data-dismiss="modal">Cancelar</button>  
                        
            </div>
        </form>
    </div>
</div>
<script src="{% static 'js/validacion_cursos_crear.js' %}"></script>
<!-- <script src="{% static 'js/validacion_cursos_editar.js' %}"></script>  -->

<script src="{% static 'js/cursos.js' %}"></script>

