{% load static %}
        <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- BS JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <!-- Have fun using Bootstrap JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'js/cursos.js' %}"></script>
   

<div class="pagina">
    <div class="contenido">

        <button onclick="abrirModal('{% url 'crearcurso' %}')"  class="btn btn-dark boton" >Crear curso</button>
        
        <!-- drog and drop -->
     
        <hr>
        
    </div>
    <div class="cursos">
        <div class="example-parent">   <!-- el area general -->
            <div class="cursos-origin">
                <div class="example-origin" ondragover="onDragOver(event);" ondrop="onDrop(event);"> <!-- el panel de origen -->
                    <!-- aqui dentro se pueden objetos de clase example-draggable que son los programas -->
                    {% for detalle in sinMatricula %}
                    <div id="{{detalle.Nivel_Curso.inscripcion_curso.Id}}"class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
                        <h5 id="" style="margin-right: 20px;"><strong>{{detalle.Nivel_Curso.inscripcion_curso.curso.nom_curso}}{{detalle.Nivel_Curso.nivel}}</strong>  <br>  grupo:{{detalle.grupo}}</h2>
                      </div>
                    {% endfor %}
                  </div>
            </div>
    
            <div class="programas">
                <div class="titulo"><h1>PROGRAMAS MATRICULADOS EN ESTE PERIODO</h1></div>
                <a class="btn btn-primary guardar"><span class="spinner-border spinner-border-sm mr-2" style="display: none;"></span> Guardar</a>

                <div class="grid">
                    <!-- programas matriculados -->
                    {% for programa in programas %}
                    <div class="card carta" id="{{programa.Id}}">
                        <h2>{{programa.programa.nom_programa}}</h2>
                        <!-- zona de recepcion -->
                        <div class="example-dropzone" ondragover="onDragOver(event);" ondrop="onDrop(event);">
                            <!-- aqui se llenara con los cursos/detallescurso a agregar-->
                            {% for detalle in conMatricula %}
                                {% if detalle.Nivel_Curso.inscripcion_curso.Id_inscripcionPrograma.Id == programa.Id %}
                                    <div id="{{detalle.Nivel_Curso.inscripcion_curso.Id}}"class="example-draggable" draggable="true" ondragstart="onDragStart(event);">
                                        <h5 id="" style="margin-right: 20px;"><strong>{{detalle.Nivel_Curso.inscripcion_curso.curso.nom_curso}}{{detalle.Nivel_Curso.nivel}}</strong>  <br>  grupo:{{detalle.grupo}}</h2>
                                    </div>
                                {% endif%}
                            {% endfor %}
                        </div>
                        
                    </div>
                    {% endfor %}
                    </div>
                </div>
                
        </div>
    </div>
    
    
        <div class="modal fade" id="creacion" role="dialog"></div>
        
    </div>
</div>


