{% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/cursos.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    

<div class="contenido">
    {% if user.is_staff == 1 %}
    <div class="buscador">
        <form method="GET" class="form-search content-search navbar-form" action="{% url 'listacursos' %}">
            <div class="input-group">
                <input id="buscar_curso" placeholder="Buscar cursos" name="nombre" class="form-control form-text" type="text" size="15" maxlength="128" />
                <span class="input-group-btn">
                    <button id="boton" value="buscar" type="submit" class="btn btn-dark"><span class="fas fa-search" style="color: white;" aria-hidden="true"></span></button>
                </span>
            </div>
        </form>
    </div>
    <div class="listado">
        <table class="table table-hover" id="table">
            <thead class="table-dark">
                <tr>
                    <th>Accion</th>
                    <th>Codigo_Curso</th>
                    <th>Nombre del curso</th>
                    <th>Programa</th>
                    <th>Periodo</th>
                </tr>
            </thead>
            <tbody>
                {% if cursos %}
                {% for curso in cursos %}
                <tr>
                    <td>
                        <button type="button" id="{{curso.cod_curso}}" class="btn btn-dark botoncito">Editar</button>
                        <button type="button" class="btn btn-dark botoncito">Eliminar</button>
                    </td>
                    <td>{{ curso.cod_curso }}</td>
                    <td>{{ curso.nom_curso }}</td>
                    <td>{{ curso.Programa.nom_programa }}</td>
                    <td> </td>
                </tr>
                {% endfor %}       
                {% else %}
                <h3>No hay registro de cursos</h3>
                {% endif %}    
            </tbody>
          </table>
    </div>               
    {% endif %}
    <hr>
    <button onclick="abrirModal('{% url 'crearcurso' %}')"  class="btn btn-dark" >Crear curso</button>


<div class="modal fade" id="creacion" role="dialog"></div>

<script src="{% static 'js/cursos.js' %}"></script>