{% extends "base.html" %}
<!DOCTYPE html>
    {% load static %}
    
    <head>
      {% block title %} 
          {% include "complementos/nav.html" %}
          <title> Home </title>
          <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
      {% endblock %}
    </head>

    {% block content %}
    <body>
      {% include "complementos/cabecera_principal.html" %}
      
      
      <div class="contenidito"></div>
    </body>

        
    {% endblock %}
    

