
{% extends "base.html" %}

    {% block title %} 
            {% include "complementos/nav.html" %}
    {% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'Academia_Arte_y_Vida/css/programas.css' %}">

    
    <body>
        <div class="contenido">
            
        <!-- SI ES UN DIRECTOOOOOOOOOOOOOOOOOOOOOOOOOOOOOR -->
        
        
        {% ifequal user.groups.all.0.name "director" %}
        <h1>programas</h1>
        <a class="btn btn-light" href="{% url 'crearprograma' %}" >Crear programa</a>
        <hr>
        
        <!-- Aqui recorremos la lista de programas, esto solo lo vera el director academico-->
            {% for programa in programasLista %}
                <div class="card carta" style="width: 18rem;">
                    <img src="http://wallpapers4screen.com/Uploads/15-11-2017/37581/thumb2-geometry-3d-art-geometric-shapes-creative-purple-background.jpg" class="card-img-top" alt="fondo">
                    <div class="card-body">
                    <h5 class="card-title">{{programa.nom_programa}}</h5>
                    <p class="card-text">{{programa.contenido_Aca}}</p>
                    <a href="#" class="btn btn-primary">Ir al programa</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endifequal %}

                <div>
                    <!-- SI ES UN ESTUDIANTEEEEEEEEEEEEEEEE -->
                    {% ifequal user.groups.all.0.name "estudiantes" %}
                        
                        {%if inscripcionesEstudiante == null %}

                        <h2> El estudiante actualmente no tiene programas registrados</h2>

                            {% else %}
                            <h2> Programas en los que el estudiante se encuentra registrado</h2>
                                {% for inscripcion in inscripcionesEstudiante %}
                        
                            <div class="card carta" style="width: 18rem;">
                                <img src="http://wallpapers4screen.com/Uploads/15-11-2017/37581/thumb2-geometry-3d-art-geometric-shapes-creative-purple-background.jpg" class="card-img-top" alt="fondo">
                                <div class="card-body">
                                <h5 class="card-title">{{inscripcion.Programa_id}}</h5>
                                <p class="card-text"> fecha de registro : {{inscripcion.Fecha_Realizacion}}</p>
                                <a href="#" class="btn btn-primary">Ir al programa</a>
                                </div>
                            </div>
                                {% endfor %}
                        {% endif %}
                        
                    {% endifequal %}

                    <!-- SI ES UN PROFESOOOOOOOOOOOOOOOOOOR -->
                    {% if estudiante != None %}
                        
                    {% endif %}
                    
                </div>
        
            
        
    </body>
    <style>
        body{
            background-color: rgb(45, 114, 254)!important;
        }
        .carta{
            display: inline-flex;
        }
        .contenido{
            margin-top: 200px;
            margin-left: 50px;
        }
    </style>
        
{% endblock %}