{% extends "base.html" %} {% load static %}
<html>
  <head>
    {% block title %} {% include "complementos/nav.html" %}
    <title>Quienes Somos</title>
    <link rel="stylesheet" href="{% static 'css/quienesSomos.css' %}" />
    {% endblock %}
  </head>

  {% block content %}
  <div class="contenidito">
   
    <div class="card">
      <div>
        <img src="https://i.imgur.com/icN95Am.png" height="300px" width="300px">
    </div>        
        <div class="texto" >
            <p>
                Brindamos formación instrumental, gramatical, musical y artística a niños,
                jóvenes y adultos, con una experiencia de 3 años y con un equipo de
                docentes profesionalmente capacitados, perfeccionando talentos,
                capacidades y técnicas de cada estudiante, teniendo como meta potenciar,
                proyectar y estimular el interés en los programas de música y artes
                plásticas.
              </p>
        </div>
    </div>
    <!-- mision -->
    <div class="card">
        <div class="texto">
          <h1 id="izq">Misión</h1>
            <p>
              
              Formar personas idóneas en el campo de la música tradicional, contemporánea y popular, mediante procesos educativos y métodos de aprendizaje de forma teórico-práctico 
            </p>
        </div>
        
        
    </div>
    <!-- vision  -->
   <div class="card">
    
    <div class="texto" >
      <h1>Visión</h1>
        <p>
          Consolidarse en la región como programa líder en la formación ,musical y personal, estimulando los valores éticos, morales y culturales, obteniendo como resultado final el crecimiento y desarrollo pleno en el arte de la música
            
          </p>
    </div>
  </div>
  

  {% endblock %}
</html>

