{% extends "index.html" %} {% block content %}

<p>identificacion: <strong>{{query}}</strong></p>
{% if Estudianteobj %} {% for estudiante in Estudianteobj %}
<div style=" text-align: center">
  <p>{{ estudiante.nombres }}-{{ estudiante.apellidos}}</p>
  
  <form action="/pago/">
    <label name="fecha">{{fechaActual}}</label>
    <!-- caja motivo -->
    <div style="margin-right: 30%; margin-left: 30%">
      <label name="motivo">Motivo</label>
      <select class="form-control"
              name="motivos"   
      >
        <option>Matricula</option>
        <option>Inscripcion</option>
        <option>Mensualidad</option>
        <option>Otros</option>
      </select>
    </div>
    <hr />
    <!-- id pago -->
    <label for="">id Pago</label>
    <input type="text" name="idpago" />

    <hr />
    <!-- caja programas -->
    <div style="margin-left: 30%; margin-right: 30%">
      <label name="programa" >Programa</label>
      <select
        class="form-control"
        name="programas"
      >
        {% for programa in programaobj %}
        <option>{{ programa.cod_programa }}-{{programa.nom_programa}}</option>

        {% endfor %}
      </select>
    </div>
    <hr />
    <!-- monto -->
    <div>
      <label for="">Monto</label>
      <input type="text" name="monto" />
    </div>
    <hr />
    <button type="submit">Guardar</button>
  </form>
  {% endfor %} 

  <form action="">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id Pago</th>
          <th scope="col">Fecha y hora</th>
          <th scope="col">Motivo</th>
          <th scope="col">Monto</th>
          <th scope="col">Programa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {%for pago in buscarP%}
          <th scope="row">{{pago.Pagos.id}}</th>
          <td>{{pago.Fecha}}</td>
          <td>{{pago.Pagos.motivo}}</td>
          <td> {{pago.monto}}</td>
          <td>{{pago.Pagos.Programa.nom_programa}}</td>
        </tr>

        
      </tbody>
    </table>
    {% endfor%}
  </form>
  {% else %}
  <p>no se encontro estudiante</p>
  {% endif %} 
  
</div>
{% endblock %}
