
{% load static %}

<link rel="stylesheet" href="{% static 'css/cursosDocente.css' %}">
<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<!-- BS JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<!-- Have fun using Bootstrap JS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"/>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<body>

    <div class="contenedor">

        <!-- cursos -->
        <div class="wrapper">

            <div class="header">
              <h1 class="header__title">Asignaturas dictadas por {{docente.nombres}}</h1>
            </div>
          
            <div class="cards">
                
                {% for asignatura in asignaturas %}
                <div class=" card [ is-collapsed ] ">
                    <div class="card__inner [ js-expander ]">
                        <!--  TITULO -->
                        <span>{{asignatura.cod_asignatura.nom_asig}} - {{asignatura.nivel}}</span>
                        <i class="far fa-folder"></i>
                    </div>
                    
                    <div class="card__expander">
                        
                        <div class="contenido-curso">
                            <div>
                                <i class="fas fa-times [ js-collapser ]" style="cursor: pointer; text-align: right;"></i>
                            </div>
                            
                            <h3 class="titulito">AGREGAR CONTENIDO A LA ASIGNATURA</h3>

                            <form method="post" enctype="multipart/form-data" action="{% url 'asignaturaActividades' %}" id="form">
                                {% csrf_token %}
                                <div class="datos">
                                    <input type="text" class="form-control" value="{{asignatura.Id}}" style="display: none;" name="nivel" required>
                                    <input type="text" class="form-control primeros" name="titulo" placeholder="titulo" required>
                                    <input type="text" class="form-control primeros" name="descripcion" placeholder="descripcion" required>
                                </div>
                                <div class='file-input'>
                                    <input type='file' name="documento">
                                    <span class='button'>Adjuntar</span>
                                    <span class='label' data-js-label>No se ha seleccionado un archivo</label>
                                </div>
                                <button type="submit" class="subir">Guardar</button>
                            </form>

                            <div class="archivos-subidos">
                                {% for actividad in actividades%}
                                    {% if actividad.Nivel_asignatura == asignatura %}
                                        <div class="actividad">
                                            <div class="imagen">
                                                
                                                <lord-icon
                                                    src="https://cdn.lordicon.com//nocovwne.json"
                                                    trigger="hover"
                                                    colors="primary:#121331,secondary:#08a88a"
                                                    style="width:100px;height:100px">
                                                </lord-icon>
                                            </div>
                                            <div class="texto-actividad">
                                                <p>{{actividad.titulo}} - {{actividad.descripcion}} </p>
                                                <a href="/media/{{actividad.file}}" target="_blank" class="descargar btn btn-success" >Descargar</a>
                                                <button class="eliminar btn btn-danger" id="{{actividad.id}}">Eliminar</button>
                                            </div>
                                        </div>
                                        
                                    {% endif %}
                                {%endfor%}
                            </div>


                        </div>


                      </div>
                </div>
                {% endfor %}
                
            </div>
          
          </div>

    </div>

</body>
<script src="{% static 'js/board_Docente/asignaturasDocente.js' %}"></script>