{% load static %}
<link rel="stylesheet" href="{% static 'css/cabecera.css' %}">
<link rel="stylesheet" href="{% static 'css/botones.css' %}">


    <div class="cabecera">
        <div class="overlay">
            <h1>ACADEMIA ARTE Y VIDA</h1>
            <h3>Reasons for Choosing US</h3>
            <p>¿Que esperas para unirte a la academia?</h5>
            <p>Ven y Aprende con Nosotros Música, 
                Artes plásticas, Fotografia, Aerografia, Danzas,
                Escuela Infantil ¡Perfecciona Tu Talento! <br>
                    
        </div>
    </div>

    <div class="btn-bg bg-1">
        <div class="btn btn-1">
          <a href="{% url 'crearinscripcion' %}"><button href=""> Registrarse</button></a>
        </div>
      </div>

    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-music"></i></p>
                    <h3>Música</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-microphone"></i></p>
                    <h3>Canto</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-guitar"></i></p>
                    <h3>Guitarra</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="padding-top: 20px!important;">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-mortar-pestle"></i></p>
                    <h3>Artes Plasticas</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                        <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-drum"></i></p>
                    <h3>Percusión</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <p><i class="fas fa-align-justify"></i></p>
                    <h3>Piano</h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                    <a href="#">Leer más</a>
                </div>
            </div>
        </div>
    </div>
