<!-- {% load static %}
<link rel="stylesheet" href="{% static 'css/footer1.css' %}" />
<link rel="stylesheet" href="{% static 'css/botones.css' %}" />  -->


<!-- <footer>
  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
  
  <div class="fondo">
    <div class="btn-bg bg-5">
      <div class="btn btn-5">
        <button href="#">Registrarse</button>
      </div>
    </div>
  </div>
</footer> -->

<!-- <footer>
  <div class="contenido">
      <div class="navegador info">
          <h3>Navegador</h3>
          <hr>
          <a href="{% url 'index' %}"><i class="fas fa-greater-than"></i> Inicio</a>
          <a href="{% url 'quienes_somos' %}"><i class="fas fa-greater-than"></i> ¿Quienes somos?</a>
          <a href="{% url 'programas_info' %}"><i class="fas fa-greater-than"></i> Programas</a>
          <a href=""><i class="fas fa-greater-than"></i> Actividades</a>
          <a href=""><i class="fas fa-greater-than"></i> Ayuda</a>
          <a href="{% url 'fotos' %}"><i class="fas fa-greater-than"></i> Fotos</a>

      </div>

      <div class="ubicacio info">
          <h3>Sede principal</h3>
          <hr>
          <p>Academia de musica Arte y Vida</p>
          <p><i class="fas fa-map-marker-alt"></i> Calle 8 # 15-56</p>
          <p>B/Puerto Nuevo, Florida - Valle </p>
          <p>Horario de atención:</p>
          <p>Lunes a viernes: 8:00 a.m-12:30 a.m
              <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              2:00pm - 5:00 p.m.</p>

              <div class="map">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3983.111323725353!2d-76.23359572772256!3d3.322660518673209!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3a12d2dfbecae3%3A0xac08aaeccd1d830!2sCl.%208%20%2315-56%2C%20Florida%2C%20Valle%20del%20Cauca!5e0!3m2!1ses!2sco!4v1614272036657!5m2!1ses!2sco" width="250" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>
          -->

      <!-- </div>
      <div class="ubicacio2 info">
          <h3>Sede Villagorgona</h3>
          <hr>
          <p>Academia de musica Arte y Vida</p>
          <p><i class="fas fa-map-marker-alt"></i> Calle 28 # 5-74</p>
          <p>Villagorgona </p>
          <p>Horario de atencion:</p>
          <p>Lunes a viernes de 8:00 a.m - 5:00 p.m.</p>

      </div>

      <div class="contacto info">
          <h3>Contactanos</h3>
          <hr>
          <p><i class="fas fa-phone alt"></i> 3122276887 - 3147020659</p>
          <p><i class="fas fa-envelope"></i> pilimurc@hotmail.com</p>
          <div class="redes">
              <a href="https://www.facebook.com/AcademiaDeMusicaArteVida/" target="_blank"><i
                      class="fab fa-facebook-square"></i></a>
              <a href="https://instagram.com/academia_arteyvida?igshid=xfoz99ot45ia" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://m.youtube.com/channel/UCZCfc0rjgGIVd6MP9V_HjvA" target="_blank"><i class="fab fa-youtube"></i></a>
          </div>
      </div>
 -->

      <!-- <div class="horarios info">
          <h3>Horarios de apertura</h3>
          <hr>
          <p>Lunes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  09:00 - 18:00</p>
          <p>Martes:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 09:00 - 18:00</p>
          <p>Miercoles:&nbsp;&nbsp;09:00 - 18:00</p>
          <p>Jueves:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    09:00 - 18:00</p>
          <p>Viernes:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:00 - 18:00</p>
          <p>sabado:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09:00 - 18:00</p>
          <p>Domingo:   &nbsp;&nbsp;Cerrado </p>
          
      </div> -->

      <!-- <div class="derechos">
          <p>derechos reservados </p>

      </div> -->
  <!-- </div>


</footer> --> 

