


<html >
    
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/footer1.css">
    <title>Document</title>
</head>

<body>
  <hr class="linea">
    <footer>
        <div class="contenidos">
            <div class="navegador info">
                <h3>Mapa de sitio</h3>
                <hr class="linea">
                <a href="{% url 'index' %}"><i class="fas fa-greater-than"></i> Inicio</a>
                <a href="{% url 'quienes_somos' %}"><i class="fas fa-greater-than"></i> ¿Quiénes somos?</a>
                <a href="#"><i class="fas fa-greater-than"></i> Programas</a>
                <a href="{% url 'ayuda' %}"><i class="fas fa-greater-than"></i> Ayuda</a>
                <a href="{% url 'fotos' %}"><i class="fas fa-greater-than"></i> Fotos</a>

            </div>

            <div class="ubicacio info">
                <h3>Sede Principal</h3>
                <hr class="linea">
                <p>Academia de musica Arte y Vida</p>
                <p><i class="fas fa-map-marker-alt"></i> Calle 8 # 15-56</p>
                <p>B/Puerto Nuevo, Florida - Valle </p>
                <p>Horario de atención:</p>
                <p>Lunes a viernes: 8:00 a.m-12:30 a.m
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    2:00pm - 5:00 p.m.</p>


            </div>
            <div class="ubicacio2 info">
                <h3>Sede Villagorgona</h3>
                <hr class="linea">
                <p>Academia de musica Arte y Vida</p>
                <p><i class="fas fa-map-marker-alt"></i> Calle 28 # 5-74</p>
                <p>Villagorgona </p>
                <p>Horario de atencion:</p>
                <p>Lunes a viernes de 8:00 a.m - 5:00 p.m.</p>

            </div>

            <div class="contacto info">
                <h3>Contactanos</h3>
                <hr class="linea">
                <p><i class="fas fa-phone alt"></i> 3122276887 - 3147020659</p>
                <p><i class="fas fa-envelope"></i> pilimurc@hotmail.com</p>
                <div class="redes">
                    <a href="https://www.facebook.com/AcademiaDeMusicaArteVida/" target="_blank"><i
                            class="fab fa-facebook-square"></i></a>
                    <a href="https://instagram.com/academia_arteyvida?igshid=xfoz99ot45ia" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://m.youtube.com/channel/UCZCfc0rjgGIVd6MP9V_HjvA" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
    
        </div>
        <div class="finn">
            <p class="copy">&copy; 2021 Academia de Música Arte y Vida / Todos los Derechos Reservados.
                <br> Diseño web por: Unidevs - <a href="https://www.univalle.edu.co/">Universidad del Valle</a>
            </p>
        </div>
    </footer>

</body>

</html>