<html>
  <style>
    .itemsitos{
      font-weight: bold;
      font-size: 14px;
    }
    .nav-link{
      color: white!important;
    }
  </style>
  <nav class="navbar navbar-expand-lg navbar-ligth bg-ligth navegador" style="background-color: rgba(255, 255, 255, 0)!important;position: fixed;top:0px;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="{% url 'index' %}" style="color:white;">SGA</a>

      <!-- SI EL USUARIO ESTA LOGEADO, MUESTRE LAS PESTAÑAS-->
      {% if user.is_active %}
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0 itemsitos">
        <li class="nav-item active">
          <a class="nav-link active" href="{% url 'index' %}">Nosotros <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="{% url 'admisiones' %}" >Admisiones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'programas' %}">Programas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'pagos' %}">Pagos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'asignaturas' %}">Asignaturas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'cursos' %}">Cursos</a>
        </li>
      </ul>
      {% endif %}
      <form class="form-inline my-2 my-lg-0">
          <h3 class="nombre"> {{user.username}} </h3>
          {% if user.is_active%}
            <a href="/logout" class="btn btn-outline-light" >logout</a>
          {% else %}
            <a href="/login" class="btn btn-outline-light">login</a>
          {% endif %}
      </form>
    </div>
  </nav> 
  
</html>

<style>
    .nombre{
      color:white;
      margin-right: 50px;
      margin-left: 600px;
    }
</style>