{% extends "base.html" %} {% block content %}
<form action="" method="POST">
  {% csrf_token %}

  <!--<fieldset>
    <legend>Seleccione el Programa Academico</legend>
<div class="row ">
      <div class="col-md-8 col-md-offset-2">
        <div class="form-group">
          <label name="programas">Programa academico</label>
          <select class="form-control" name="programas">
            {% for programas in objprograma %}
            <option>
              {{ programas.cod_programa }} - {{ programas.nom_programa }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>
  </fieldset>

  <fieldset>
    <legend>Datos Personales</legend>
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="">{{ objestudiante.identificacion.label }}</label>
          {{ objestudiante.identificacion }} 
        <label for="{{ objestudiante.tipo.name }}">{{ objestudiante.tipo.label }}</label>
          {{ objestudiante.tipo }}
        <label for="">{{ objestudiante.nombres.label }}</label>
          {{ objestudiante.nombres }}
        <label for="">{{ objestudiante.apellidos.label }}</label>
          {{ objestudiante.apellidos }}
        <label for="">{{ objestudiante.edad.label }}</label>
          {{ objestudiante.edad }}
        <label for="">{{ objestudiante.sexo.label }}</label>
          {{ objestudiante.sexo }}
        <label for="">{{objestudiante.telefono.label }}</label>
          {{ objestudiante.telefono }}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>Correo Electronico</legend>
    <div class="col-md-8 col-md-offset-2">
      <div class="form-group">
        <label for="">{{ objestudiante.correo.label }}</label>
          {{ objestudiante.correo }}
      </div>
    </div>
  </fieldset>
</div>
  <div class="col-md-8 col-md-offset-2">
    <div class="form-group">
      <input type="text" name="usuario">
      <input type="password" name="password">
      <button class="btn btn-primary" type="Submit">Enviar Informacion </button>
    </div>
  </div>
</form> -->

  <!-- <form action="/crearinscripcion/" method="POST">
  {% csrf_token %}
  <select name="programas">
    {% for programas in objprograma %}
    <option>
      {{ programas.nom_programa }}
    </option>
    {% endfor %}
  </select>
  <input type="text" name="identificacion" placeholder="identificacion" default = "12345">
  <select class="form-control" name="tipo"> 
        <option label="Cedula ciudadania">1</option>
        <option label="Tarjeta de identidad">2</option>
        <option label="Cedula extranjera">3</option>
        <option label="Certificado de cabildo">4</option>
        <option label="Pasaporte">4</option>
  </select>
  <input type="text" name="nombres" placeholder="nombres">
  <input type="text" name="apellidos" placeholder="apellidos">
  <input type="text" name="edad" placeholder="edad">
  <select class="form-control" name="sexo"> 
    <option label="Femenino">F</option>
    <option label="Masculino">M</option>
  </select>
  <input type="email" name="correo" placeholder="Email">
  <input type="email" name="telefono" placeholder="telefono">-->
  <div class="container">
    <div class="formulario">
      <form action="/inscripcion/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <br />
        <h1 class="text-center">REGISTRO DE INSCRIPCION ACADEMICA</h1>
        <br />

        <div class="form-group">
          <label>Seleccione el programa academico</label>
          <select class="form-control" name="programas">
            {% for programas in objprograma %}
            <option>{{ programas.nom_programa }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Seleccione el departamento</label>
          <select class="form-control" name="departamentos_combo">
            {% for departamento in objdepartamentos %}
            <option>{{ departamento.nombre }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label>Seleccione la ciudad</label>
          <select class="form-control" name="ciudades_combo">
            {% for ciudad in objciudades %}
            <option>{{ ciudad.nombre }} </option>
            {% endfor %}
          </select>
        </div>
        {{form}}
        <br />
        <h4>Registre sus credenciales de inicio de sesión</h4>
        <input type="text" name="usuario" placeholder="pepito" />
        <input type="password" name="password" placeholder="**********" />
        <br>
        a<button class="btn btn-outline-light boton" type="Submit">Enviar Informacion</button>
      </form>
      <!-- USER -->
    </form>
  </div>
</div>



<style>

  .container{
    width: 100%;
    max-width: 2000px;
    overflow-x: hidden;
  }

  body {
    background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(0, 172, 193, 1) 100%);
  }

  .boton {
    text-align: center;
    width: 200px;
    margin-top: 50px;
  }

  .formulario {
    overflow-x: hidden;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
    margin-bottom: 200px;
    box-sizing: border-box;
  }

  /*::-webkit-scrollbar {
    display: none
}*/
 
  h4 {
    color: white;
    font-weight: lighter;
  }

  .formulario h1 {
    color: white;
    font-weight: bold;
  }

  label {
    color: white;
  }

  @media screen and (max-width: 800px){
    .formulario h1{
      color: brown;
    }
  }
   
   
</style>
{% endblock%}